- Добавить 2 параметра: Заголовок и Вводимый Текст
- Добавить событие на клик - вывод вводимого текста в консоль
- Вынести блок с C# кодом в отдельный файл
- * Добавить событие на клик - вывод вводимого текста как alert (функция лежит в wwwroot)

<div class="form-group">
    <p></p>
    <textarea class="form-control col-md-6">
        
    </textarea>
</div>

<button class="btn btn-primary" type="button" >
    <span class="oi oi-arrow-thick-bottom"></span> To console
</button>

@code {
    
    
}